RCS
*.out
*.rom
*.vcd
*.gtkw
alu.hex
Schematic/Schematic.bin
Schematic/Schematic.dsn
Schematic/Schematic.kicad_pcb-bak
Schematic/Schematic.net
Schematic/Schematic.rules
Schematic/Schematic.ses
Schematic/bom.csv
Schematic/fp-info-cache
Schematic/rescue-backup
Schematic/sym-lib-table
Schematic/Gerber
Schematic/Schematic.xml
Schematic/newbom.csv
Schematic/oldbom.csv
Misc
